<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div class="box" id="heading">
<h1><%= query %></h1>
</div>
  <div class="box">
    <p> <%= temperature %> ℃ </p>
    <p> <%= description %> </p>
    <img src=<%=imgurl %>>
  </div>
</body>

</html>
